*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    border: none;
 
}

.menu_principal {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
    font-family: 'Nunito', sans-serif;
   
}

.menu_principal:hover {
    background-color: none;
    }

.desplegable {
    position: relative;
    display: inline-block;
   
}

.desplegable_menores {
    display: none;
    background-color: none;
    min-width: 200px;
    
}

.desplegable_menores a {
    color: none;
    padding: 10px;
    text-decoration: none;
    display: block;
    list-style-type: circle;
    font-style: oblique;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}

.desplegable:hover .desplegable_menores {
    display: inline;
}


 
#fotoPortada{
    width: 400px;
    height: 500px;
    display: block;
    margin: 0px auto;
    grid-area: imagen;
}

.fotosGaleria{
    width: 200px;
    height: 250px;
    margin: 10px;
    display: none;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
     
}

.fotosGaleria:hover {
    width: 400px;
    height: 450px;
    
}

#fotoMaker{
    width: 500px;
    height: 400px;
    display: block;
    margin: 0px auto;
    grid-area: imagen;
}

#fotoAcerca{
    width: 535px;
    height: 292px;
    display: block;
    margin: 0px auto;
    grid-area: imagen;
}
   
h3{
    font-family: 'Inter', sans-serif;
    text-align: center;
}


   p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: small;
    color: rgb(0, 0, 0);
    text-align: justify;
    font-size: 20px;
    padding: 10px 50px 20px;
    background-color: none;
}

 footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: small;
    color: darkblue;
    text-align: center;
    font-size: 15px;
    border: none; 
    background-color: rgb(255, 255, 255);
}

 .footer{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: small;
    color: None;
    text-align: center;
    font-size: 15px;

 }
 
.informacion{
    display: grid;
    grid-template-areas: 
            "titulo . ."
            "imagen . texto"
    ;
    grid-template-columns: 3px, 2px;
    grid-template-rows: 3px, 2px;
    max-width: 1200px;
    margin: auto;
 }

 .informacion_titulo{
    grid-area: titulo;
 }

 .informacion_texto{
    grid-area: texto;
 }

.informacion_maker{
    display: grid;
    grid-template-areas: 
            "titulo . ."
            "texto . imagen"
    ;
    grid-template-columns: 3px, 2px;
    grid-template-rows: 3px, 2px;
    max-width: 1200px;
    margin: auto;
 }

 .informacion_titulo_maker{
    grid-area: titulo;
 }

 .informacion_texto_maker{
    grid-area: texto;
 }


 .imagenes_galeria{
    display: grid;
    grid-template-areas: 
            "titulo . ."
            "imagen1 . imagen2"
            ". imagen3 ."
            "imagen4 . imagen5"
    ;
    grid-template-columns: 3px, 2px;
    grid-template-rows: 3px, 2px;
    max-width: 1200px;
    margin: auto;
 }

 .titulo_galeria{
    grid-area: titulo;
 }

 .galeria_imagen1{
    grid-area: imagen1;
 }

 .galeria_imagen2{
    grid-area: imagen2;
 }

 .galeria_imagen3{
    grid-area: imagen3;
 }

 .galeria_imagen4{
    grid-area: imagen4;
 }

 .galeria_imagen5{
    grid-area: imagen5;
 }

 @media screen and (max-width: 768px) {
    
    .imagenes_galeria {
        grid-template-areas:
            " titulo"
            " imagen1"
            " imagen2"
            " imagen3"
            " imagen4"
            " imagen5";
        grid-template-rows: 10px 500px 500px 500px 500px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
}

@media screen and (max-width: 768px) {
    
    .informacion_maker {
        grid-template-areas:
            " titulo"
            " texto"
            " imagen"
            ;
        grid-template-rows: 100px 500px 500px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
}

@media screen and (max-width: 768px) {
    
    .informacion {
        grid-template-areas:
            " titulo"
            " imagen"
            " texto"
           ;
        grid-template-rows: 100px 500px 500px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
}

